


.chat-title{
    font-weight: bold;
    margin: 10px 0;
}


.chat-container {
    max-width: 100%;
    padding:0;
    display: flex;
    flex-direction: column;
    height: 91vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    padding: 1rem;
}

.chat-messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chat-clients{
    margin-top: 3px;
    color:dodgerblue;
}


.msg-left,
.msg-right {
    display: flex;
    margin-bottom: 0.5rem;
}

.msg-left {
    justify-content: flex-start;
}

.msg-right {
    justify-content: flex-end;
}


.msg-right .bubble {
    color: white;
    background-color: dodgerblue;
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    max-width: 75%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}
.msg-left .bubble {
    background-color: white;
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    max-width: 75%;
    box-shadow: 0px 0px 0px 2px dodgerblue;
    word-wrap: break-word;
}


.msg-left .meta {
    display: block;
    font-size: 0.7rem;
    margin-top: 4px;
    color: black;
}

.msg-right .meta {
    display: block;
    font-size: 0.7rem;
    margin-top: 4px;
    color: white;
}


.chat-form {
    width: 100%;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 0.8rem 1rem;
    padding-right: 50px;
}


.chat-send-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    width: 32px;
    height: 32px;
    border-radius: 50%;

    border: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-send-button:hover {
    background-color: #0056b3;
}