input[type=text] {
    font-size: 14px;
}
textarea {
    font-size: 14px;
}
.btn-gradient {
    background: var(--button-color);
    color: white;
}

.btn-gradient:hover {
    background: var(--button-hover);
    color: white;
}