input[type=text] {
    font-size: 14px;
}
textarea {
    font-size: 14px;
    resize: none;
}
.btn-gradient {
    background: var(--button-color);
    color: white;
}

.btn-gradient:hover {
    background: var(--button-hover);
    color: white;
}
.form-switch .form-check-input {
    width: 3em;
}q