.navbar {
    font-size: 16px;
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 100vh;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 1);
    width: 256px;
    border-right: 1px solid #bdbdbd;
    vertical-align: middle;
}
.nav-icon {
    margin-right: 16px;
}
.nav-link {
    align-items: center;
    width: 100%;
    text-align: left;
    color: #6b7280;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
}
.nav-link:hover {
    background-color: #f9fafb;
    color: #374151;
}
.nav-link.active {
    background: var(--button-color);
    color: white !important;
}