.custom-modal .modal-title {
    font-size: 35px;
}
.custom-modal .modal-content {
    font-family: Poppins, sans-serif;
    border-radius: 20px;
    padding: 10px;
    border-color: white;
}

.bottone{
    --background-color: linear-gradient(135deg, #3b82f6, #06b6d4);
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}