.custom-modal .modal-title {
    font-size: 35px;
}
.custom-modal .modal-content {
    font-family: Poppins, sans-serif;
    border-radius: 20px;
    padding: 10px;
    border-color: white;
}

.button-modal{
    border-radius: 15px;
    background-color: var(--button-color);
    background-hover: var(--button-hover);

}