#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.post-component img{
    max-width: 20%;
    height: auto;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.loginBox{
    background-color:white;
    border-radius: 10px;
    padding:3rem;
    width: 50%;
    width-max:400px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border: 2px solid #e5e7eb;

}
.loginBox h1{
    font-family: Poppins;
    font-weight: bold;
}
.loginBox p{
    font-family: Poppins;
    color: grey;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    padding:0.75rem;
    border:1px solid #d1d5db;
    border-radius:6px ;
    font-family: Poppins;
    font-size: 1rem;
    background-color: white;
    color:black;
}
button{
    padding: 0.75rem;
    background-color:#0f172a ;
    color:white;
    font-family: Poppins;
    font-weight: bold;
    border:none;
    border-radius: 6px;
    cursor:pointer;
    transition:background 0.6s ease;
}
button:hover{
    background-color:#1e293b ;
}

.loginBox a{
    font-family: Poppins;
    margin-top:20px;


}

.loginBox span{
    font-weight: bold;
}

.signup
